header {
    display:  flex;
    height: 100vh;
    // &>div {
    //     width: 50%;
    // }
    .left-header {
        display: flex;
        flex-direction: column;
        width: 100%;
        &__top {
            position: relative;
            height: 25%;
            display: flex;
            align-items: flex-end;
            img {
                position: absolute;
                bottom: 0;
                right: -225px;
                @include min-laptop {
                    right: 0;
                }
            }
        }
        &__middle {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding-left: 130px;
            height: 68.1%;
            h1 {
                margin-bottom: 60px;
                margin-top: 106px;
            }
        }
        &__bottom {
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: #1F1F1F;
            height: 6.9%;
            width: 100%;
            a {
                position: relative;
                width: 25%;
                text-align: center;
            }
            a:after {
                content: "";
                height: 30.48px;
                border-right: 1px solid #9D9D9D;
                position: absolute;
                right: 0;
                top: -6px;
            }
            a:last-child:after{
                border: 0;
            }
        }
    }
    .right-header {
        width: auto;
        height: 100vh;
        @include min-laptop {
         display: none;   
        }
    }
}